<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!--  Issue #6  -->
    <!--  Add Permissions here  -->

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rounded_app_icons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Video9Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video8Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video7Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video6Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Video1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VideosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NumbersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law11Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law10Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law9Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law8Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law7Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law6Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Law1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LawsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tips2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tips1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>